.container{
    margin-bottom: 100px;
}
.bg-o{
    background-image: linear-gradient(to right, rgb(226, 81, 81) , yellow);
    border-radius: 20px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: rgb(38, 96, 134);
}
.buy-new-button{
    padding: 9px 20px;
color: white;
background-color: yellowgreen;
cursor: pointer;
border-radius: 10px;
}
.cat1, .cat2 , .cat3{
    padding: 20px 10px;
    border-radius: 20px;
}
.cat1{
background-color: wheat;

}
.cat2{
background-color: thistle;

}
.cat3{
background-color: pink;

}
.catagories h1{
    color: white;
}
.catagories img{
    width: 100px;
}
.card{
    border:none;
    box-shadow: 5px 5px 10px lightslategray;
}
#subscribe{
    height: 300px;
}
#subscribe h6{

    color: lightslategrey;
}
footer{
    text-align: center;
}